{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      },
      "rxjs": {
        "transform": "rxjs/operator/${member}",
        "preventFullImport": true
      }
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}