{
    "extends": "dhis2",
    "parser": "babel-eslint",
    "env": { "browser": true },
    "rules": {
        "react/prop-types": 0,
        "indent": 0,
        "complexity": 0,
        "arrow-parens": "off",
        "no-unused-expressions": "off",
        "import/no-extraneous-dependencies": "off",
        "import/extensions": "off",
        "import/no-unresolved": "off",
        "react/jsx-no-bind": ["on", {
            "allowArrowFunctions": true
        }]
    }
  }
  