.messaging-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 55px);
    position: fixed;
}

.messaging-center__main-content {
    flex: 2 0;
    display: flex;
    flex-direction: row;
}

.messaging-center__no-message-selected {
    flex: 3 0;
    text-align: center;
    padding-top: 100px;
}
